
.steps-content{
    color:black;
    background:white;
    padding-top: 50px;
    padding-bottom:50px;
    padding-left:30px;
    padding-right:30px;
    margin-top:16%;
    height:auto !important;
    border-radius:20px;
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
}
.steps{
    padding-top:50px;
    color:Black;
    font-size:24px;
    font-weight:520;
}
.step{
    padding:20px;
    margin-bottom:10px;
    border-width: 100%;
    border:1px solid black;
    border-left:none;
    border-right:none;
    width:auto;
}
.step a:hover{
    color:#00D9B2;
    transition:0.5s;
}
.disabled{
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}
.fa-check{
    display:none;
    color:green;
    float:right;
}
.fa-times{
    display:none;
    color:Red;
    float:right;
}
.acte-firma{
    padding-top:50px;
    padding-left:30px;
    font-size: 30px;
    display:none;
}
.feedback-firm {
    opacity: 50%;
    margin-left: 35px;
    margin-bottom: 25px;
    font-size: 20px;
}
#waiting-app {
    color:red;
}
a:hover {
    color:green;
}
