
.banks-content{
    color:black;
    background:white;
    padding-top: 50px;
    padding-bottom:50px;
    padding-left:30px;
    padding-right:30px;
    margin-top:16%;
    height:auto !important;
    border-radius:20px;
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
}

.boxes {
    display:flex;
    flex-direction:column;
    margin: auto;
    background: transparent;
    justify-content: center;
    padding: 20px;
  }
.box{
    padding-bottom:20px !important;
}
  /*Checkboxes styles*/
input[type="radio"] 
{ 
    display: none;
}
  
  input[type="radio"] + label {
      
      color:black !important;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-left: 20px;
    font: 20px/24px 'Open Sans', Arial, sans-serif;
    font-weight:400;
    color: #ddd;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  
  input[type="radio"] + label:last-child 
  { margin-bottom: 0; }
  
  input[type="radio"] + label:before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    border: 3px solid #00D9B2;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
  }
  
  input[type="radio"]:checked + label:before {
    width: 10px;
    top: -5px;
    left: 5px;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .download-button{
      display:none;
      color:white !important;
      width:250px;
  }
  .p-text{
      padding-top:30px;
      padding-bottom:30px;
      color:black!important;
      font-size:28px !important;
      font-weight:550;
  }
  .already-have-bank, .bank-choice{
      display:none;
  }