<!DOCTYPE html>
<html lang="en">

<head>
    <title>I to IT - Creaza-ti firma cu un buletin</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/font-awesome/css/all.min.css">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    {% block links %}
    {% endblock %}
    <link rel="shortcut icon"  href="{{ url_for('static', filename='favicon.ico') }}" />
</head>

<body data-offset="300" data-spy="scroll" data-target=".site-navbar-target">
    <div class="site-wrap">
        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="far fa-times-circle js-menu-toggle close-icon">
                    </span>
                </div>
            </div>
            <div class="site-mobile-menu-body">
            </div>
        </div>
        <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">
            <div class="container-fluid">
                <div class="d-flex align-items-center">
                    <div class="site-logo mr-auto w-25"><a href="/">I to IT</a></div>
                        <div class="mx-auto text-center">
                            <nav class="site-navigation position-relative text-right" role="navigation">
                                <ul class="site-menu main-menu js-clone-nav mx-auto d-none d-lg-block m-0 p-0">
                                    <a class="nav-link cool-link home" href=".#">Acasa</a>
                                    <a class="nav-link cool-link" href=".#reward-section">Beneficii</a>
                                    <a class="nav-link cool-link" href=".#programs-section">Despre</a>
                                    <div class = "right-navbar-mobile">

                                        <a class="btn btn-primary logout-btn  nav-link " href="/logout" >Log out</a>
                                    </div>
                               </ul>
                            </nav>
                        </div>
                        <div class="account_profile">
                              {% if user.is_authenticated %}
                                    <a href="/acte"><i class="fas fa-file fa-2x mr-4 documents-color far"></i></a>
                                    <a href="/logout"><i class="fas fa-sign-out-alt signout_button fa-2x far"></i></a>
                              {% endif %}
                          
                        </div>
                        <div class="only_mobile">
                            <div class="ml-auto w-25">
                                <nav class="site-navigation position-relative text-right " role="navigation">
                                    <ul class="site-menu main-menu site-menu-dark js-clone-nav mr-auto d-none d-lg-block m-0 p-0 ">
                                    </ul>
                                </nav>
                                <a class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right" href="#"><span class="fas fa-caret-square-down fa-2x dropdown-icon"></span>
                                </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        {% block content %}
        {% endblock %}

        <footer class="footer-section bg-light">
            <div class="container">
                <div class="row">
                <div class="col-md-4">
                    <h3>Despre noi</h3>
                    <p>Ideea noastra a luat nastere cand, noi am fost cei care au trebuit sa treaca prin acest proces dificil, 
                    asa ca ne-am propus sa dezvoltam o platforma care sa automatizeze acest proces si sa aduca beneficii fiecarei entitati in parte</p>
                </div>

                <div class="col-md-3 ml-auto">
                    <h3>Links</h3>
                    <ul class="list-unstyled footer-links">
                    <li><a href="#">Acasa</a></li>
                    <li><a href="#">Beneficii</a></li>
                    <li><a href="#">Despre</a></li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <h3>Aboneaza-te</h3>
                    <p>Pentru a ramane la curent cu noutatile legate de platfroma I to IT.</p>
                    <form action="#" class="footer-subscribe">
                    <div class="d-flex mb-5">
                        <input type="text" class="form-control rounded-0" placeholder="Email">
                        <input type="submit" class="btn btn-primary rounded-0" value="Subscribe">
                    </div>
                    </form>
                </div>

                </div>
            </div>
        </footer>
    </div>
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-migrate-3.0.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.stellar.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.countdown.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.fancybox.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.sticky.js') }}"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script> 
    <script src="{{ url_for('static', filename='js/aos.js') }}"></script>
    <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
    <script type = "module" src="{{ url_for('static', filename='js/layout.mjs') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>